POSTGRES_DB=dnd
POSTGRES_USER=dnd_user
POSTGRES_PASSWORD=dnd_password
POSTGRES_PORT=5432

JWT_SECRET=CHANGE_ME_USE_A_RANDOM_SECRET_AT_LEAST_32_CHARACTERS

OLLAMA_MODEL=qwen2.5:7b
OLLAMA_PORT=11434

BACKEND_PORT=8080
FRONTEND_PORT=3000
